.contianer {
  display: grid;
  padding-bottom: 80px;
}

.heading {
  margin-bottom: 40px;
}

@media (max-width: 1439px) {
  .transactionForm {
    margin-bottom: 40px;
  }
}

@media (min-width: 1440px) {
  .contianer {
    grid-template-columns: 1fr 1fr;
    column-gap: 44px;
  }
  .heading {
    grid-column-start: 1;
    grid-row: 1;
  }
  .expensesAndIncomes {
    grid-column-start: 1;
    grid-row: 2;
  }
  .donut {
    grid-column-start: 1;
    grid-row: 3;
  }
  .transactionForm {
    grid-column-start: 2;
    grid-row: 1 / span 3;
  }
}
